body {
    background-color: #fff;
    color: #000;
}

/* Header */
#header-container {
    width: 100vw;
    position: fixed;
    top: 0;
    height: 3em;
    border-bottom: 1px solid #000;
}

#header-title {
    font-size: 1.5em;
    margin: .6rem;
    float: left;
}

/* Footer */
#footer-container {
    width: 100vw;
    position: fixed;
    bottom: 0;
    height: 3em;
    border-top: 1px solid #000;
}

#footer-contents {
    margin: 1em;
    text-align: center;
}

/* Sidebar - left */
#sidebar-left-container {
    width: max(20vw, 13em);
    position: fixed;
    top: 3em;
    left: 0;
    height: calc(100vh - 3em - 3em);
    border-right: 1px solid #000;
    overflow-y: auto;
}

.sidebar-left-content {
    padding: 0 1em;
    margin: 1em 0;
}

/* Main content */
#main-container {
    margin: 3em 0 3em max(20vw, 13em);
    height: calc(100vh - 3em - 3em);
    width: calc(100vw - max(20wv, 13em));
    overflow-y: auto;
}

.main-content-card {
    width: auto;
    height: auto;
    margin: 1em;
    padding: .5em 1em;
    background-color: #eee;
    border-radius: .5em;
}

.main-content-card:hover {
    cursor: pointer;
}
