body {
    background-color: #fff;
    color: #000;
}

/* Header */
#header-container {
    width: 100vw;
    position: fixed;
    top: 0;
    height: 3em;
    border-bottom: 1px solid #000;
}

#header-title {
    font-size: 1.5em;
    margin: .6rem;
    float: left;
}

#header-menu-image {
    width: 2em;
    height: 1em;
    margin: 1em;
    float: right;
    background-color: #ccc;
    border-radius: 1em;
}

#header-menu-image:hover {
    cursor: pointer;
}

#header-menu-content {
    display: none;
    width: 160px;
    position: absolute;
    top: 2em;
    right: 1em;
    background-color: #eee;
}

#header-menu-image:hover #header-menu-content {
    display: inline-block;
}

#header-menu-content > a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: .5em;
    font-size: 1.2em;
    font-weight: 500;
}

#header-menu-content > a:nth-child(even) {
    background-color: #ddd;
}

#header-menu-content > a:hover {
    background-color: #000;
    color: #fff;
}

/* Footer */
#footer-container {
    width: 100vw;
    position: fixed;
    bottom: 0;
    height: 3em;
    border-top: 1px solid #000;
}

#footer-contents {
    margin: 1em;
    text-align: center;
}

#footer-contents > a {
    color: inherit;
    text-decoration: none;
}

/* Sidebar - left */
#sidebar-left-container {
    width: max(20vw, 10em);
    position: fixed;
    top: 3em;
    left: 0;
    height: calc(100vh - 3em - 3em);
    border-right: 1px solid #000;
    overflow-y: auto;
}

#sidebar-left-news {
    font-weight: bold;
    text-align: center;
    margin-top: .5em;
    font-size: 1.2em;
}

.sidebar-left-content {
    padding: 0 1em;
    margin: 1em 0;
}

.sidebar-left-content::first-line {
    font-weight: bold;
}

/* Main content */
#main-container {
    margin: 3em 0 3em max(20vw, 10em);
    height: calc(100vh - 3em - 3em);
    width: calc(100vw - max(20wv, 10em));
    overflow-y: auto;
}

.main-content-card {
    width: auto;
    height: auto;
    margin: 1em;
    padding: .5em 1em;
    background-color: #eee;
    border-radius: .5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-content-card:hover {
    cursor: pointer;
    background-color: #ddd;
}
